@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

body {
  background-color: cornflowerblue;
  background-image:url('background.jpeg');
  margin:0;
  padding:0;
}

.navbar {
  background-color: cornflowerblue;
}

a {
  transition: 0.9s;
  color: white;
  font-family: Montserrat;
  padding-top: 5px;
}

p {
  transition: 0.9s;
  color: white;
  font-family: Montserrat;
  padding-top: 10px;
}

.title {
  color: white;
  text-align: center;
  font-family: Montserrat;
  text-shadow: 0px 0px 15px white;
  padding-top: 50px;

}

.description {
  color: white;
  text-align: center;
  font-family: Montserrat;
  text-shadow: 0px 0px 35px white;
  padding-top: 0px;
}

a:hover {
  color: #ff0000;
  font-family: Montserrat;
}

.info {
  color: white;
  font-family: Montserrat;
  text-align: center;
}

.about {
  color: white;
  font-family: Montserrat;
  text-align: center;
}

.aboutbody {
  background-image:url(background.jpeg);
  background-color: cornflowerblue;
  margin:0;
  padding:0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color:  white;
  text-align: center;
}

#wrapper { 
    width: 920px; 
    height: auto; 
    margin: 0 auto;
} 
#home1 { 
    width: 47.5%; 
    height: 300px; 
    float: left; 
    margin-right: 5%;
} 

#home2 { 
    width: 47.5%; 
    height: 300px; 
    float: left; 
}

.clear{
    clear: both;
}

@media (max-width:767px) {
    #wrapper{
        width: 100%;
        height: auto;
    }
    #home1 {
        width: 100%;
        height: auto;
        float: none;
    }
    #home2 {
        width: 100%;
        height: auto;
        float: none;
    }
}
